---
import ModelYSection from '../components/ModelYSection.astro'
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Tesla - El coche de tus sueños">
	
	<LandingHeader/>

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSection/>
		</div>

		<div class="snap-center">
			<ModelYSection/>
		</div>
<!-- 
		<div class="snap-center">
			<HeroSection/>
		</div>

		<div class="snap-center">
			<HeroSection/>
		</div>

		<div class="snap-center">
			<HeroSection/>
		</div>
		
		<div class="snap-center">
			<HeroSection/>
		</div> -->

	</main>
</Layout>
