---
const base = import.meta.env.BASE_URL.replace(/\/$/, '');
---

		<section class="bg-black h-[100svh] text-center overflow-hidden relative landing-section"
		data-header-color="black">

			<div class="z-10 relative h-full flex flex-col">
				<header class="z-30 relative">
					<h2 class="text-black pt-28 sm:pt-40 text-[32px] sm:text-[40px] font-medium">Model Y</h2>
					<p class="text-black text-sm">Programa una prueba de conducción</p>
				</header>

				<footer class="flex flex-col flex-grow justify-end pb-10 sm:pb-16 lg:pb-24 px-6">
					<div class="gap-3 sm:gap-4 flex flex-col sm:flex-row mx-auto w-full max-w-sm sm:max-w-none sm:w-auto">
						<a class="bg-gray-600 text-sm rounded font-medium text-white px-6 sm:px-12 py-2 inline-block w-full sm:w-auto hover:bg-black hover:text-white transition-colors duration-300" href="#">Explorar inventario</a>

						<a class="bg-white text-sm rounded font-medium text-black px-6 sm:px-12 py-2 inline-block w-full sm:w-auto hover:bg-black hover:text-white transition-colors duration-300" href="#">Pedido personalizado</a>
					</div>

				</footer>
			</div>


			<div class="absolute inset-0 z-0">
				<img src={`${base}/model-y.avif`} alt="Model Y" class="h-full w-full object-cover"></img>
			</div>
		</section>
